{% extends 'base.html' %}

{% block content %}
<section class="section">
  <form action="{{ url_for('solutions') }}" class="container">
    <h1 class="title">
      Queens Solution Solver
    </h1>
    <div class="field">
      <label for="size-id" class="label subtitle">Enter board size to find solutions:</label>
      <div class="control">
        <input class="input" id="size-id" name="n" type="number" name=min="1" value="1" style="max-width: 30%;" />
      </div>
    </div>
    <button class="button is-link">
      <span class="icon">
        <i class="fas fa-chess-queen"></i>
      </span>
      <span>Get solutions!</span>
    </button>
  </form>
</section>
{% endblock content %}