{% extends 'base.html' %}

{% block content %}
<section class="section">
  <h1 class="title">
    {% if status == 0 %}
    We've started looking for solutions, come back in a while.
    <p class="buttons">
      <a href="{{ url_for('index') }}" class="button is-link">
        <span class="icon">
          <i class="fas fa-chess-queen"></i>
        </span>
        <span>Back to index</span>
      </a>
      <a href="{{ url_for('solutions') }}?n={{ n }}" class="button is-info">
        <span class="icon">
          <i class="fas fa-redo"></i>
        </span>
        <span>Refresh</span>
      </a>
    </p>
    {% elif status == 1 %}
    We're still looking for solutions, come back in a while
    {% else %}
    No hay solución
    {% endif %}
  </h1>
  <p class="buttons">
    <a href="{{ url_for('index') }}" class="button is-link">
      <span class="icon">
        <i class="fas fa-chess-queen"></i>
      </span>
      <span>Back to index</span>
    </a>
    <a href="{{ url_for('solutions') }}?n={{ n }}" class="button is-info">
      <span class="icon">
        <i class="fas fa-redo"></i>
      </span>
      <span>Refresh</span>
    </a>
  </p>
</section>
{% endblock content %}